.comment {
  display: grid; 
  grid-template-columns: 10fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    "message message"; 
}

.comment__message {
  grid-area: message;
}

.comment__author, .comment__message{
  margin: 0;
}

.comment__avatar {
  background: grey;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.comment__author {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.comment__delete {
  background: transparent;
  color: black;
  &:hover {
    background-color: transparent;
  }
}