.movieCard {
  position: relative;
  display: grid; 
  height: 345px;
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1px; 
  grid-template-areas: 
    "photo ."
    "photo ."
    "photo ."; 
}

.movieCard__rating {
  position: absolute;
  color: white;
  background-color: green;
  width: 30px;
  text-align: center;
  left: -5px;
}

.movieCard__description {
  color: #777;
}

.movieCard__image {
  grid-area: photo;
  height: 345px;
  width: 230px;
}